<ul class="list-group">
    {{#each agents}}
    <li class="agent-item-row list-group-item">
        <div class="agent-item-row-name list-group-item-title">{{contact.name}}</div>
        <div class="agent-item-row-email">{{contact.email}}</div>
        <div class="agent-item-row-id">{{id}}</div>
    </li>
    {{/each}}
</ul>