<ul class="list-group">
    {{#each contacts}}
    <li class="contact-item-row list-group-item">
        <div class="contact-item-row-name list-group-item-title">{{name}}</div>
        <div class="contact-item-row-email">{{email}}</div>
        <div class="contact-item-row-id">{{id}}</div>
    </li>
    {{/each}}
</ul>